body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

nav{
  background-color: red;
}

.about{
padding: 5%;
border-style: groove;
 border-width: 2%;
}

li{
  list-style: none;
}

footer{
  background-color: red;
  display: flex;
  justify-content: space-evenly;
}

.services{
 padding: 1%;
 border-style: groove;
 border-width: 2%;
}